.homepage {
  :global(.swiper-button-prev) {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    background: #7f6e5a80;
    border-radius: 50%;
  }
  :global(.swiper-button-prev::after) {
    font-size: 18px;
    font-weight: bold;
  }

  :global(.swiper-button-next) {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    background: #7F6E5A80;
    border-radius: 50%;
  }
  :global(.swiper-button-next::after) {
    font-size: 18px;
    font-weight: bold;
  }
}

.dailyFont {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 700;
  line-height: 2rem;
  color: #996510;
}

.dailySeriesFont {
  font-family: "Barlow", sans-serif;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.25rem;
  color: #777777;
}